.principal-div-top-five {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-bottom: 2rem;
}

.top-five-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    height: auto;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 10px;
}

.link-top-five-all-menu{
    color: white;
    font-size: 25px;
    transition: 0.3s;
}

.link-top-five-all-menu:hover {
    cursor: pointer;
    color: rgb(92, 29, 238);
}

.top-five-li {
    background-color: rgb(248, 248, 248);
    list-style: none;
    height: 90%;
    margin: 10px;
    padding: 15px;
    border: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
    
}

.top-five-ul a {
    text-decoration: none;
    color: black;
    width: 20%;
}

.top-five-img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.h2-top-five {
    color: rgb(194, 9, 9);
    font-size: 45px;
    font-family: Verdana;
}
