.principal-div-top-five {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(185, 179, 179, 0.521);
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.top-five-ul {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 10px;

}

.link-top-five-all-menu{
    color: white;
    font-size: 25px;
    transition: 0.3s;
}

.link-top-five-all-menu:hover {
    cursor: pointer;
    color: rgb(92, 29, 238);
}

.top-five-li {
    background-color: rgb(248, 248, 248);
    list-style: none;
    height: 40vh;
    margin: 10px;
    padding: 15px;
    border: 10px;
    
}

.top-five-ul a {
    text-decoration: none;
    color: black;
}

.top-five-img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.h2-top-five {
    color: rgb(128, 128, 128);
    font-size: 35px;
    font-family: Verdana;
}
