.App {
  text-align: center;
}

.principal-div-filterItem{
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.filterItem-h2 {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 15px;
  font-size: 35px;
  margin-bottom: 2rem ;
}

.empty-cart {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.card-event {
  font-size: 20px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: start;
  font-weight: 400;
  padding: 10px;
}


