.principal-div-preview-events {
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-bottom: 2rem;
}

.events-h2 {
    color: rgb(194, 9, 9);
    font-size: 45px;
    font-family: Verdana;
}

.events-preview-events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.event {
    width: 30%;
    height: 30vw;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
}

.title-event {
    font-size: 29px;
}

.img-preview-event {
    width: 80%;
    height: 30vh;
    border-radius: 5px;
}