.login-principal-div{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-form{
    background-color: rgba(99, 98, 99, 0.082);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.185);
}

.login-page-form span {
    color: rgb(3, 3, 3);
    font-weight: 900;
    font-size: 45px;
}

.login-page-form input {
    border: none;
    border-bottom: 3px solid rgba(63, 62, 62, 0.384);
    width: 70%;
    padding: 15px;
    font-size: 18px;
}

.login-page-form p {
    font-size: 22px;
}

.login-page-form a {
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
}

.login-page-form a:hover {
    color: rgb(79, 9, 145);
}

.btn-login{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-login:hover{
    cursor: pointer;
    background-color: rgb(2, 97, 2);
}

