.principal-div-local {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 15px;
}

.local-p{
    font-size: 25px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-family: "Jost", sans-serif;
    line-height: 1.2;
}

.local-units {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.unit {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
}

.unit-local-restaurant-img{
    width: 350px;
    height: 500px;
    border-radius: 5px;
}

.unit-title{
    font-size: 30px;
    text-align: start;
    padding:5px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}

.local-h2 {
    color: rgb(194, 9, 9);
    font-size: 45px;
    font-family: "Jost", sans-serif;
}