.div-principal-events {
    background-color: tomato;
    height: auto;
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: rgba(7, 7, 7, 0.87);
    background-size: auto;
    background-position: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.events-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h2-events {
    color: white;
    font-size: 35px;
}

.events-text {
    background-color: rgba(5, 5, 5, 0.377);
    color: white;
    font-size: 20px;
    padding: 10px;
}