.div-principal-events {
    height: auto;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 15rem;
    border-radius: 10px;
}

.events-calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    margin-top: 3rem;
}

.h2-events {
    color: rgb(0, 0, 0);
    font-size: 55px;
}

.events-text {
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 10px;
}