.principal-div-all-you-can-eat {
    width: 100%;
    height: auto;
    margin: auto;
}


.all-you-can-eat-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.card-event {
    font-size: 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    font-weight: 400;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-you-can-eat-h2 {
    font-size: 35px;
    color: rgb(7, 7, 7);
}