a {
    text-decoration: none;
}

.principal-div-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    color: white;
    padding: 3px;
    z-index: 1000; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.39);
}

/*PRE-HEADER*/
.headerPage-pre{
    background-color: rgb(221, 8, 8);
    color: white;
    margin: 0;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.headerPage-pre-ul-authentication{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    list-style: none;
}

.headerPage-pre-ul-authentication li, span{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;
}

.headerPage-pre-ul-authentication li:hover, span:hover {
    color: black;
}

.headerPage-ul-SocialMedial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 10%;
    margin: 10px;
    margin-left: auto;
}

.headerPage-ul-SocialMedial li {
    list-style: none;
}

.headerPage-ul-SocialMedial-img{
    width: 30px;
    height: 30px;
 }

 /*HEADER*/

.headerPage-principalHeader {
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.headerPage-logo{
    font-size: 35px;
    padding: 5px;
}

.headerPage-nav {
    width: 40%;
}

.headerPage-nav-ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.headerPage-input-search{
   padding: 10px;
   width: 57vw;
   margin: 10px;
   padding: 15px;
   border-radius: 5px;
   font-size: 18px;
}

.li-nav{
    padding: 10px;
    font-size: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.li-nav:hover{
    border-color: rgb(221, 8, 8);;
}

.headerPage-button-search{
    background-color: rgb(206, 203, 206);
    width: 15%;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 700;
    font-size: 17px;
}

.headerPage-button-search:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.664);
}

.btn-cart {
    transform: translateX(0) scale(1);
}

.btn-cart:hover, .btn-cart:focus {
    transform: translateX(1px) scale(1.2);
}