.cart-principal-div {
    width: 70%;
    min-height: 50vh;
    padding: 20px;
}

.cart-title {
    font-size: 35px;
    font-family: Impact;
}

.account-infor {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.btn-finish {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: rgb(9, 129, 241);
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

.btn-finish-disabled {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

.btn-finish:hover {
    background-color: rgb(9, 111, 206);
}

.total-text {
    font-size: 25px;
}

.total-text-price {
    font-size: 25px;
    color: rgb(95, 94, 94);
}

.infor-order {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product-cart-li {
    background-color: rgba(133, 133, 133, 0.096);
    list-style: none;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}

.product-cart-ul {
    display: flex;
    flex-direction: row;
    max-width: 40vw;
    flex-wrap: wrap;
}

.product-cart-image{
    width: 90%;
    padding: 10px;
    
}

.product-cart-li-price{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100px;
}

.amount-itens-in-cart{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-amount {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    font-size: 20px;
    background-color: rgba(102, 100, 100, 0.603);
    cursor: pointer;
}

.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: baseline;
    flex-wrap: wrap;
   
}

.empty-cart{
    text-align: center;
    width: 100vw;
}