.cardsMenu-ul {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    height: 100%;
}

.cardsMenu-li {
    background-color: rgba(216, 191, 216, 0.205);
    list-style: none;
    width: 35vh;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.199);
}

.cardsMenu-img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.cardsMenu-li-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardsMenu-button-addInCart{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.cardsMenu-button-addInCart:hover {
    background-color: rgb(5, 100, 5);
}