.principal-div-crazyTuesday {
    width: 100%;
    height: auto;
}

.crazy-tuesday-h2 {
    font-size: 35px;
    color: white;
}

.crazy-tuesday-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.card-event {
    font-size: 20px;
    color: black;
    font-family: "Jost", sans-serif;
    text-align: start;
    font-weight: 400;
    padding: 10px;
}

.crazy-tuesday-infor li {
    list-style: none;
    margin: 5px;
}